*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 32px;
}

body {
  font-family: sans-serif;
}

.loader,
.error {
  display: none;
  padding: 10px;
  color: #fff;
  border: 1px solid #000;
  margin: 0;
}

.loader {
  background-color: #423cb3;
}

.error {
  background-color: rgb(111, 31, 31);
}
